{% extends 'acciones/base.html' %}
{% load static %}

{% block titulo %}
    Eliminar Acción
{% endblock titulo %}

{% block cabecera %}
    Eliminar Acción
{% endblock cabecera %}

{% block contenido %}
    <h4>¿Estás seguro que deseas eliminar la acción "{{ accion.simbolo }}"?</h4>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'lista_acciones' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock contenido %}
