{% extends 'acciones/base.html' %}
{% load static %}
{% block titulo %}
    Resultados Económicos (en millones de USD)
{% endblock titulo %}

{% block cabecera %}
    Resultados Económicos y Proyecciones 
    <a href="{% url 'agregar_resultado' %}" class="enlace-agregar text-dark">Agregar Resultado Económico</a>

{% endblock cabecera %}

{% block contenido %}
    <h3>Lista de Resultados Económicos (En millones de USD)</h3>
    <table class="compras-table">
        <thead>
            <tr>
                <th style="padding-right: 20px;">Simbolo</th>
                <th style="padding-right: 20px;">Último Año</th>
                <th style="padding-right: 20px;">Próximo Año</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.accion_comprada.simbolo }}</td>
                <td>{{ resultado.resultado_ultimo_anio }}</td>
                <td>{{ resultado.proyeccion_proximo_anio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}



